<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <!-- 定义一个基于WSS4J的拦截器（WSS4JInterceptor） -->
    <bean id="wss4JInInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
        <constructor-arg>
            <map>
                <!-- 用户认证（明文密码） -->
                <!-- action=UsernameToken表示使用基于"用户名令牌"的方式进行身份认证 -->
                <entry key="action" value="UsernameToken"/>
                <!-- 表示密码以明文方式出现 -->
                <entry key="passwordType" value="PasswordText"/>
                <!-- 提供一个用户密码验证的回调处理器 -->
                <entry key="passwordCallbackRef" value-ref="serverPasswordCallback"/>
            </map>
        </constructor-arg>
    </bean>

    <jaxws:endpoint id="helloService" implementor="#helloServiceImpl" address="/soap/hello">
        <jaxws:inInterceptors>
            <!-- 配置拦截器 -->
            <ref bean="wss4JInInterceptor"/>
        </jaxws:inInterceptors>
    </jaxws:endpoint>

    <cxf:bus>
        <cxf:features>
            <!-- 配置日志，监控每次WS请求与响应的日志 -->
            <cxf:logging />
        </cxf:features>
    </cxf:bus>
</beans>